<div class="creepy-horse-container">
  <%= image_tag "nC19NEgcm3Pqw.gif", class: "creepy-horse" %>
</div>
<div class="color-horse-container">
  <%= image_tag "fLnuqeoerMDJe.gif", class: "color-horse" %>
</div>
