<%= render partial: "form" %>
<div class="row columns"><hr/></div>
<%= render partial: "lane", locals: { player: "sidekiq" } %>
<div class="row columns"><hr/></div>
<%= render partial: "lane", locals: { player: "delayedjob" } %>
<div class="row columns"><hr/></div>
