/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .header {
  margin-top: 20px;
 }

 .sidekiq-player-container {
  background-color: #FCFCFC;
 }

.sidekiq-player {
  height: 115px;
  margin-bottom: 15px;
}

.delayedjob-player-container {
  background-color: #FBEDCB;
}

.delayedjob-player {
  height: 150px;
}

.go {
  height: 2.4375rem;
  width: 50%;
}

.new-race {
  margin: 10px 0;
}

img.winner {
  border: 5px solid #A9DFBF;
  border-radius: 5px;
}

img.loser {
  border: 5px solid #E6B0AA;
  border-radius: 5px;
}

.races-table {
  width: 75%;
  margin-top: 50px;
}

.races-table td, th{
  border: 2px solid #fff;
}

tr.race-row {
  cursor: pointer;
}

td.winner {
  background-color: #A9DFBF;
}

td.loser {
  background-color: #E6B0AA;
}
